@font-face {
    font-family: 'Montserrat-Hairline';
    src: url('montserrathairline.woff2') format('woff2'),
    url('montserrathairline.woff') format('woff'),
    url('montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-Light;
    src: url('montserratlight.woff2') format('woff2'),
    url('montserratlight.woff') format('woff'),
    url('montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('montserrat.woff2') format('woff2'),
    url('montserrat.woff') format('woff'),
    url('montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('montserratbold.woff2') format('woff2'),
    url('montserratbold.woff') format('woff'),
    url('montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('montserratblack.woff2') format('woff2'),
    url('montserratblack.woff') format('woff'),
    url('montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
