html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-icon {
    display: none;
}

.mobile-menu-burger-container {
    display: none;
}

/*----REGISTRATION FORM--*/

.reg-form-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-form-wrapper {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 980px;
    padding: 90px;
    background-color: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}

.sign-in-wrapper {
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 90px;
    background-color: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}

.reg-form-wrapper h2, .sign-in-wrapper h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}

.sign-in-wrapper .buttons .google-btn {
    padding-top: 0;
}

.sign-in-wrapper .buttons .primary-btn {
    margin-left: 0;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.close-btn:hover {
    cursor: pointer;
}

.reg-form-content {
    padding-top: 35px;
}

.reg-form-container .field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    margin-bottom: 30px;
}

.field label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}

.field input, textarea {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 51px;
    color: #333333;
}

textarea {
    height: 205px;
}

.project-social-links {
    display: flex;
    width: 100%;
}

.project-social-links input {
    margin-bottom: 20px;
}

.project-social-links .field {
    margin-bottom: 0;
}

.remove-link {
    width: 40px;
    height: 40px;
    background: none;
    border-color: #B8B8B8;
    margin-left: 10px;
    border-radius: 3px;
    outline: none;
}

#add-link {
    width: 245px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 10px;
}

.remove-link:hover {
    cursor: pointer;
    border: 1px solid #D62121;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons .primary-btn {
    max-width: 245px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
}

.google-btn {
    width: 245px;
    height: 50px;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #D62121;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    color: #D62121;
}

.fb-btn {
    width: 245px;
    height: 50px;
    padding: 0;
    background-color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    color: #FFFFFF;
}

.fb-btn:hover {
    cursor: pointer;
    border: 1px solid #333333;
    background-color: #FFFFFF;
    color: #333333;
}

/*--------------------------------------*/

/*---------NEW PROJECT FORM-------------*/

.new-project-form-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-project-form-wrapper {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 980px;
    padding: 80px;
    background-color: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}

.new-project-form-wrapper h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.close-btn:hover {
    cursor: pointer;
}

.new-project-form-content {
    padding-top: 35px;
}

.new-project-form-container .field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.money-deadline {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.money-deadline .field {
    max-width: 245px;
}

.input-button input {
    outline: none;
    border: none;
}

/*--progress bar---*/
.CircularProgressbar-text {
    font-family: Montserrat, sans-serif;
}
/*-----------------*/

/*--PROJECT SOCIAL LINKS---*/



/*/////////////////*/

.field {
    width: 100%;
    margin-bottom: 30px;
}

.field label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}

.field input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
}

.project-description .field {
    height: 230px;
}

.project-description input {
    height: 100%;
}

.images-preview {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.vid {
    padding: 10px;
    border-radius: 5px;
    background-color: #FF8C8C;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.buttons .google-btn {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding-top: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.buttons .google-btn:hover {
    cursor: pointer;
}

.buttons .primary-btn {
    max-width: 245px;
    height: 50px;
    font-size: 14px;
    line-height: 17px;
    margin: 10px auto;
}

.google-btn {
    width: 245px;
    height: 50px;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #D62121;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    color: #D62121;
}

.fb-btn {
    width: 245px;
    height: 50px;
    padding: 0;
    background-color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    color: #FFFFFF;
}

.fb-btn:hover {
    cursor: pointer;
    border: 1px solid #333333;
    background-color: #FFFFFF;
    color: #333333;
}


/*---------TEXT EDITOR FORM-------------*/

.c-editor-container {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    padding: 40px 240px 40px 40px;
    box-sizing: border-box;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.public-DraftEditor-content span {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}

/*----------------------------------------------------*/

.join-form .field {
    max-width: 245px;
}

.join-form .field p {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #D62121;
}

.company-name .field {
    max-width: 100%;
}

.mail .field {
    max-width: 100%;
}
.password .field {
    max-width: 100%;
}

.names .field {
    max-width: 100%;
}

.join-form .name, .join-form .contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.avatar {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-avatar {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.upload-avatar span{
    position: relative;
    display: flex;
}

.upload-avatar img {
    width: 100%;
    object-fit: cover;
}

.edit-avatar {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,.4);
    color: white;
    text-align: center;
}

.upload-avatar input {
    margin-top: 20px;
}

.avatar-preview {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.preview-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}

.positions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.money-to-collect {
    width: 100%;
    padding: 1px;
    max-width: 245px;
    height: 40px;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

.money-to-collect select {
    background-image: none;
    color: #333333;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 1px solid #B8B8B8;
    border-radius: 0;
}

.money .field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.field .money-to-collect input {
    border: none;
    width: 100%;
    height: 100%;
}

.anonimus-container {
    max-width: 180px;
}

.anonim {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    position: relative;
    display: block;
    padding-top: 1px;
    padding-left: 35px;
    margin-top: 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.anonim input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #333333;
}

/* When the checkbox is checked, add a blue background */
.anonim input:checked ~ .checkmark {
    border-color: #D62121;
}

.anonim input:checked ~ .anonim {
    color: #D62121;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.anonim input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.anonim .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid #D62121;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*----------------------------------------------------*/

.tab-list {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.tab-list-item {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 51px;
    color: rgba(0, 0, 0, 0.28);
}

.tab-list-item:hover {
    cursor: pointer;
}

.tab-list-active {
    color: #333333;
}

/*-------------------------------------------------------*/

/*-----LOGIN TAB--------------*/

.field a {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 51px;
    color: #D62121;
    text-decoration: none;
}

.signed-in-links {
    width: auto;
    display: flex;
    flex-direction: column;
}
.signed-in-links a {
    display: inline-block;
    width: fit-content;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 51px;
    color: #D62121;
    text-decoration: none;
}

.fast-login {
    width: 100%;
    padding-top: 50px;

}

.fast-login p {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.social-login-buttons {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.error-text {
    width: 100%;
    max-width: 245px;
    text-align: center;
}

.error-text p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #D62121;
}

/*---HEADER---*/

header {
    width: 100%;
    height: 100px;
    padding-left: 90px;
    padding-right: 90px;
    background: #576264;
    position: fixed;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: grey;
    text-align: center;
}

.nav-links {
    max-width: 740px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.nav-links a:hover {
    color: #000;
    cursor: pointer;
}

.social-links {
    width: 128px;
    display: flex;
    justify-content: space-between;
}

.select-container {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.select-container .css-tlfecz-indicatorContainer {
    padding: 0;
    color: white;
}

.select-container .css-1gtu0rj-indicatorContainer {
    padding: 0;
    color: white;
}



.select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: transparent;
    outline: none;
    background-image: url('../images/angle-down.png');
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #fff;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.select:hover {
    cursor: pointer;
}

.login-icon {
    display: block;
}

.login-icon:hover {
    cursor: pointer;
}

.profile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-initials {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
}

.profile-initials img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-menu-wrapper a {
    text-decoration: none;
}

.profile-menu-wrapper a:hover, .profile-initials:hover {
    cursor: pointer;
}

.profile-menu-wrapper {
    padding: 17px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 160px;
    height: 105px;
    position: absolute;
    top: 65px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #000000;

}
/*--------------------------*/

/*---JOIN (MAIN CONTENT)---*/

.join-container {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.join-wrapper {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding-top: 12%;
    padding-bottom: 21.5%;
    box-sizing: border-box;
}

.join-content {
    width: 100%;
    height: 100%;
    padding-left: 11%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.join-content h1 {
    width: 100%;
    max-width: 772px;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 38px;
    line-height: 57px;
    color: #FFFFFF;
}

.join-btn {
    width: 260px;
    height: 60px;
    margin-top: 5.6%;
    background-color: #D62121;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    transition: .3s;
}

.join-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #D64545;
}

/*-----------------------------*/

/*---TOTAL COINS =)---*/

.total-container {
    width: 100%;
    height: 100%;
    max-height: 463px;
    position: absolute;
    margin-top: -240px;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.total-wrapper {
    width: 100%;
    max-width: 1496px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.month, .year {
    width: 748px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.month p, .year p {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #BDBDBD;

}

.month h5, .year h5 {
    margin-top: 62px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #333333;
    margin-bottom: 0;
}

/*-----------------------------*/

/*---INTRO---*/

.intro-container {
    width: 100%;
    margin-top: 450px;
    display: flex;
    align-items: center;
}

.intro-left-container {
    height: 100%;
    width: 100%;
    max-width: 211px;
}

.intro-bg-left {
    width: 100%;
    max-width: 211px;
    min-width: 100px;
    height: 23vw;
    max-height: 455px;
    background-color: #333333;
}

.intro {
    width: 100%;
    max-width: 740px;
    min-width: 550px;
}

.intro img {
    width: 100%;
    max-width: 740px;
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.intro-right-container {
    width: 100%;

}

.intro-bg-right {
    width: 100%;
    height: 23vw;
    max-height: 455px;
    padding-left:9%;
    padding-right: 14%;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.intro-bg-right h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 57px;
    color: #FFFFFF;
}

/*-----------------------*/

/*---PROJECTS---*/

.projects-container {
    width: 100%;
    padding: 180px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container h1, .partners-container h1 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #333333;
    text-align: center;
}

.projects-wrapper {
    width: 100%;
    max-width: 1820px;
    height: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-project-card {
    width: 435px;
    height: 520px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
}

.img-container {
    width: 100%;
    height: 100%;
    min-height: 270px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-project-card-wrapper {
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-project-card-title {
    width: 100%;
}

.main-project-card-title h4 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-item p {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: #333333;
}

.count {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}

.actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.help-btn {
    width: 150px;
    height: 40px;
    background: #D62121;
    border-radius: 3px;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: .3s;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-btn:hover {
    cursor: pointer;
    border: 1px solid #D62121;
    background-color: #FFFFFF;
    color: #333333;
}

.actions a {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D62121;
    text-decoration: none;
    display: flex;
    width: 110px;
    justify-content: space-between;
    align-items: center;
}

.details {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-btn {
    display: none;
}

.buttons-wrapper {
    width: 100%;
    max-width: 342px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-btn {
    width: 260px;
    height: 60px;
    padding: 0;
    background-color: #D62121;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    transition: .3s;
}

.primary-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #D62121;
    border: 1px solid #D62121;
}

.arrow-down {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

/*-----------------------------*/

/*---PARTNERS---*/

.partners-container {
    margin-top: 180px;
}

.partners {
    width: 80%;
    margin: 60px auto;
}

.partners ul li img {
    width: 50%;
}

._1JwaBMUCMsc8QmGrT7DX45 {
    top: 100%;
}

.carousel-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners ul button ._2WFZTqYBc3N8MmmhMS5Dii {
    background: #D64545;
}

._2VaQi-Tq1LrSSO0_knReFa {
    top: -10px;
}



/*-----------------------------*/

/*--RAITING---*/

.raiting-container {
    width: 100%;
    margin-top: 170px;
    background-color: #333333;
}

.author-raiting-container {
    width: 100%;
    background-color: #FFFFFF;
}

.raiting-container h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    margin: 0;
}

.author-raiting-container h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #333333;
    margin: 0;
}
.raiting-wrapper {
    height: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.raiting-wrapper .primary-btn a {
    text-decoration: none;
    color: #FFFFFF;
}


.raiting-wrapper .primary-btn:hover a {
    color: #D62121;
}

.card-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
}

.author-raiting-container .raiting-card {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}

.raiting-card {
    width: 440px;
    height: 470px;
    margin-bottom: 20px;
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}

.helper-info-container, .author-info-container {
    width: 100%;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.helper-info-container img, .author-info-container img {
    width: 173px;
    height: 173px;
    border-radius: 50%;
}

.helper-info-container h5, .author-info-container h5 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.helper-info-container p, .author-info-container p {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.info-container {
    display: flex;
    width: 335px;
    justify-content: space-between;
}

.info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.raiting-icon {
    margin-right: 15px;
}

.raiting-count h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
}

.raiting-count p {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.info-container h6 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
}

.info-container p {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

/*-----------------------------*/

/*---NEWS---*/

.news-container {
    width: 100%;
    background-color: #333333;
}

.news-container h1 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    text-align: center;
}

.news-wrapper {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.news-wrapper .primary-btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.news-wrapper .primary-btn:hover a {
    color: #D62121;
}

.news-card-wrapper {
    width: 100%;
    padding-top: 80px;
    max-width: 1800px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news {
    width: 435px;
    height: 520px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.news h4 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.about-news-container {
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.desc p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}


.desc-btn {
    width: 150px;
    height: 40px;
    padding-top: 10px;
    background: #D62121;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: .3s;
}

.desc-btn:hover {
    cursor: pointer;
    border: 1px solid #D62121;
    background-color: #FFFFFF;
    color: #333333;
}

/*-----------------------------*/

/*---FOOTER---*/

footer {
    width: 100%;
    height: 100px;
    padding-left: 90px;
    padding-right: 90px;
    background: #576264;
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer .nav-links {
    max-width: 900px;
}

.footer-links-block {
    width: 100%;
    max-width: 461px;
    display: flex;
}

footer .nav-links a {
    margin-left: 20px;
}

/*------------------------------*/

/*---NEWS PAGE---*/

.news-page-container {
    height: 100%;
    padding-top: 180px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.news-page-container h1 {
    margin-bottom: 80px;
    margin-top: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: #333333;
    text-align: center;
}

.news-page-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1800px;
}

.news {
    margin-bottom: 20px;
}

/*----------------------------*/

/*---ARCHIVE PAGE---*/

.archive-projects-container {
    height: 100%;
    padding-top: 180px;
    margin-bottom: 180px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.archive-projects-container h1 {
    margin-bottom: 80px;
    margin-top: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: #333333;
    text-align: center;
}


.archive-projects-wrapper {
    width: 100%;
    max-width: 1820px;
    height: 100%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.archive-project-card {
    width: 100%;
    max-width: 435px;
    height: 100%;
    max-height: 522px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}

.archive-project-card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.archive-project-card-wrapper {
    padding: 40px 30px;
}

.archive-project-card-wrapper h4 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.css-1pahdxg-control {
    height: 100%;
}

.archive-project-card-wrapper .stats {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mobile-filter {
    display: none;
}

.archive-filter {
    width: 250px;
    height: 50px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 3px;
    position: absolute;
    left: 60px;
}

.css-2b097c-container {
    width: 100%;
    height: 100%;
}

.css-yk16xz-control {
    width: 100%;
    height: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.archive-projects-wrapper .more-details {
    color: white;
    padding-left: 13px;
}

.more-details:hover {
    color: #D62121;
}

.filter {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: transparent;
    outline: none;
    background-image: url('../images/filter-angle.png');
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #333333;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.filter:hover {
    cursor: pointer;
}


.financed {
    width: 100%;
    height: 55px;
    background-color: #fff;
    opacity: .7;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.financed p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-funded {
    width: 100%;
    height: 55px;
    background-color: #000;
    opacity: .7;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.not-funded p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------*/

/*---PROJECT PAGE---*/

.about-project-container {
    padding-top: 100px;
}

.bg-project-img {
    position: relative;
}

.bg-project-img img {
    width: 100%;
}

.project-opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: .4;
}

.main-img-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-desc-img {
    height: 100%;
    max-height: 650px;
}

.project-desc-img .carousel-slider {
    height: 500px;
}

.slider-wrapper {
    height: 100%;
}

.slider {
    height: 100%;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-desc-img .carousel .slide img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.carousel {
    height: 120px;
}

.project-desc-img .carousel .thumbs-wrapper {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.project-desc-img .carousel .thumbs {
    height: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

.project-desc-img .carousel .thumb {
    height: 100%;
    padding: 0;
    width: auto;
    max-width: 170px;
}

.project-desc-img .carousel .thumb:hover {
    border-color: #D62121;
}

.carousel .thumb img {
    height: 100%;
    width: auto;
}

.bg-project-img h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    z-index: 5;
    margin: 0;
}

.summary-container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    width: 100%;
    height: 430px;
    max-width: 1460px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.summary-item {
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-info {
    text-align: center;
}

.summary-item h5 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #333333;
    margin: 40px 0 0 0;

}

.summary-item p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #BDBDBD;
    margin: 0;
}

.project-desc-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-desc-wrapper {
    display: flex;
    margin-bottom: 50px;
}

.project-desc-text {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;

}

.project-desc-img {
    width: 100%;
    max-width: 715px;
}

.project-desc-img img{
    width: 100%;
    max-width: 715px;
}

.carousel-status {
    font-family: Montserrat, sans-serif;
}

.project-desc-about h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #333333;
    margin: 0 0 50px 0;
    text-align: center;
}

.project-desc-text p {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #000000;
}

.project-desc-r-side {
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help-proj-btn {
    width: 265px;
    height: 60px;
    background: #D62121;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: .3s;
    border: none;
    outline: none;
}

.help-proj-btn:hover {
    cursor: pointer;
    border: 1px solid #D62121;
    color: #333333;
    background-color: #FFFFFF;
}

.benefactors-container {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 110px;
    background-color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.benefactors-container h2 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    margin: 0;
}

.benefactors {
    width: 100%;
    max-width: 1820px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.benefactor-card {
    width: 435px;
    height: 330px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 40px 55px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.benefactor-avatar {
    width: 110px;
    height: 110px;
    background: #333333;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.benefactor-avatar img {
    width: 100%;
}

.benefactor-name h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin: 0;
}

.about-donate {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.donate-money, .donate-date {
    width: 140px;
    display: flex;
    align-items: center;
}

.donate-text {
    height: 45px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.donate-text h6 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.donate-text p {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: 0;
    text-transform: capitalize;
}

.benefactors-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.prev-btn:hover, .next-btn:hover {
    cursor: pointer;
}


/*-------------------------------------*/

/*---NEWS PAGE---*/

.event-description-container {
    padding: 180px 90px 170px 90px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bg-news-img {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-news-img .opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
}

.bg-news-img img {
    width: 100%;
    object-fit: cover;
}

.bg-news-img h1 {
    width: 100%;
    max-width: 1200px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    position: absolute;
    z-index: 5;
    color: #FFFFFF;
}

.event-description-container h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #333333;
    text-align: center;
    margin: 0;
}

.event-description-container p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 0;
    color: #000000;
}

.event-description {
    width: 100%;
    max-width: 1740px;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.event-text {
    width: 100%;
    max-width: 940px;
}

.event-image img {
    top: 10px;
}

.other-images {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.share-container {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-container h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
}

.social {
    width: 65px;
    display: flex;
    justify-content: space-between;
}

.other-news-container {
    width: 100%;
    background-color: #333333;
    padding-top: 120px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.other-news-container h3 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    text-align: center;
}

.other-news {
    width: 100%;
    max-width: 1800px;
    padding-top: 80px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.news-card {
    width: 435px;
    height: 525px;
    display: flex;
    flex-direction: column;
}

.news-card img {
    width: 100%;
}

.card-news-about {
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 30px;
    height: 100%;
}

.card-news-about h5 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin: 0;
}

.card-news-about p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 30px;
}

.desc-news-btn {
    width: 160px;
    height: 40px;
    text-align: center;
    background-color: #D62121;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    outline: none;
    border: none;
    transition: .3s;
}

.desc-news-btn:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #D62121;
    color: #D62121;
}

.show-all-btn {
    width: 265px;
    height: 60px;
    background: #D62121;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: .3s;
    border: none;
    outline: none;
    margin: 0 auto;
}

.show-all-btn:hover {
    cursor: pointer;
    border: 1px solid #D62121;
    color: #333333;
    background-color: #FFFFFF;
}

/*------------------------------------*/


/*-------------TEXT PAGE---------------*/

.text-page-container {
    height: 70vh;
    padding-top: 200px;
}

.text-page-container h1 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #333333;
    text-align: center;
}

.text-page-wrapper {
    padding: 70px 90px;
}

.text-page-wrapper p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}

.public-DraftEditorPlaceholder-inner {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}

/*--------------------------------------*/

/*---------NEW PROJECT PAGE-------------*/


.project-images {
    width: 100%;
    max-width: 860px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-images img {
    margin-bottom: 10px;
}

.new-project-btns {
    width: 100%;
    max-width: 540px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.user-cabinet-page-content .new-project-btns .primary-btn {
    margin-top: 0;
}

.save-changes-btn {
    width: 260px;
    height: 60px;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #D62121;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #D62121;
    transition: .3s;

}


/*-------------------------------------*/

/*---------RAITING PAGE-----------------*/

.raiting-page-container {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.raiting-page-container h1 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #333333;
    text-align: center;

}

.raiting-page-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.raiting-page-wrapper {
    padding-top: 70px;
    width: 100%;
    max-width: 1800px;
}

/*-------------------------------------*/

/*--------USER CABINET PAGE--------------*/

.user-cabinet-page-container {
    padding: 180px 50px;
}

.user-cabinet-page-container h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #333333;
    text-align: center;
    margin: 0;
}

.user-cabinet-page-wrapper {
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-cabinet-page-content {
    width: 100%;
    max-width: 1800px;
    padding: 120px 140px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-cabinet-page-content .primary-btn {
    margin-top: 30px;
}

.user-information {
    width: 100%;
    max-width: 1345px;
}

.user-cabinet-row .new-project-form-wrapper {
    height: auto;
    max-width: 900px;
    width: auto;
    max-height: none;
    padding: 50px;
    display: flex;
}

.user-cabinet-row .new-project-form-wrapper img {
    width: 100%;
}

.user-cabinet-row .new-project-form-wrapper .close-btn {
    top: 20px;
    right: 20px;
}

.video-wrapper {
    width: 100% !important;
}

.user-cabinet-row {
    width: 100%;
    display: flex;
}

.name-of-row {
    width: 100%;
    max-width: 350px;
}

.name-of-row h5 {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.5);
}

.information-row {
    width: 100%;
}

.information-row p {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    color: #000000;
}

.edit-input textarea {
    height: auto;
    border: 1px dashed rgba(0, 0, 0, 0.5);
}

/*--------------------------------------*/

/*----------PROJECT-REQUEST PAGE---------*/

.project-img {
    width: 160px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.project-img img:hover {
    cursor: pointer;
}

.vid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid .play {
    height: 50px;
}

.vid .play:hover {
    cursor: pointer;
}

.close-img {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #FFFFFF url("../images/close-image.png") no-repeat 50% 50%;
}

.close-img:hover {
    cursor: pointer;
}

.project-request-buttons {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.discard-btn {
    width: 260px;
    height: 60px;
    margin-top: 30px;
    padding: 0;
    background-color: #333333;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    transition: .3s;
}

.discard-btn:hover {
    cursor: pointer;
    border: 1px solid #333333;
    color: #333333;
    background-color: #FFFFFF;
}

/*--------------------------------------*/

/*----------PARTNERS-PAGE---------------*/

.partners-page-container {
    width: 100%;
    padding-top: 180px;
    min-height: 90vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.partners-page-container h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 51px;
    color: #333333;
    margin: 0;
    text-align: center;
}

.partners-page-wrapper {
    width: 100%;
    padding: 50px 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.partners-page-content {
    width: 100%;
}

.partner-icon-item {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.partner-icon {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/*--------------------------------------*/

/*--------PAYMENT SYSTEM PAGE----------*/

.payment-system-page-container {
    padding-top: 30px;
    padding-bottom: 100px;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.payment-system-page-wrapper {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 700px;
    overflow: scroll;
    padding: 90px;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.payment-system-page-wrapper select {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
}

.payment-system-page-wrapper h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin: 0;
}

.payment-input-value {
    width: 50%;
    margin-top: 50px;
}

.payment-input-value input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 51px;
    color: #333333;
}

.payment-system-page-content {
    padding-top: 50px;
}

.number-cvv-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-number-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.card-number-wrapper label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 51px;
    display: flex;
    align-items: flex-end;
    color: #666666;
}

.card-number-wrapper input {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 51px;
    color: #333333;
}

.card-cvv-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80px;
}

.card-cvv-wrapper label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 51px;
    display: flex;
    align-items: flex-end;
    color: #666666;
}

.card-cvv-wrapper input {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    color: #333333;
}

.card-name-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-name-wrapper label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 51px;
    display: flex;
    align-items: flex-end;
    color: #666666;
}

.card-name-wrapper input {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #333333;
}

.card-date-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 153px;
}

.card-date-wrapper span {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 51px;
    color: #000000;
}

.card-date-wrapper label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 51px;
    display: flex;
    align-items: flex-end;
    color: #666666;
}

.card-date-wrapper input {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 60px;
    height: 50px;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #333333;
}

.card-month-year-field {
    display: flex;
    width: 100%;
    max-width: 153px;
    align-items: center;
    justify-content: space-between;
}

.payment-system-page-content .primary-btn {
    margin-top: 60px;
}

.card-date-wrapper, .card-name-wrapper {
    margin-top: 30px;
}

/*---------------------------------------*/

@media (max-width: 1860px) {

    /*.projects-wrapper>.main-project-card:nth-last-of-type(-n+2) {*/
    /*    display: none;*/
    /*}*/

    /*------------------------------_*/

    .archive-projects-container {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 1800px) {
    .news-card-wrapper {
        max-width: 1345px;
    }

    .news-card-wrapper>.news:nth-last-of-type(-n+1) {
        display: none;
    }
}

@media (max-width: 1700px) {
    .join-container h1 {
        font-size: 38px;
        line-height: 57px;
        max-width: 700px;
    }

    .join-wrapper {
        padding-top: 15%;
    }

    .total-container {
        height: 350px;
        padding-left: 150px;
        padding-right: 150px;
        margin-top: -11%;
    }

    .intro-container {
        margin-top: 300px;
    }

    .intro-bg-right h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .raiting-card {
        width: 425px;
    }

    .projects-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    /*.projects-wrapper>.main-project-card:nth-last-of-type(-n+2) {*/
    /*    display: none;*/
    /*}*/

    .card-wrapper {
        max-width: 1360px;
    }

    .news-wrapper>.news:nth-last-of-type(-n+1) {
        display: none;
    }

    /*-------------------------------------------*/

    .summary-container {
        padding-left: 50px;
        padding-right: 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .summary {
        max-width: 1260px;
    }

    .project-desc-about {
        padding-left: 40px;
        padding-right: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .project-desc-wrapper {
        max-width: 1260px;
    }

    .benefactors {
        max-width: 1345px;
    }

    /*------------------------------------------------*/

    .event-text {
        padding-right: 50px;
    }

    .other-news>.news-card:nth-last-of-type(-n+1) {
        display: none;
    }

    .other-news {
        max-width: 1345px;
    }

    /*------------------------------------*/

    .raiting-page-wrapper {
        max-width: 1345px;
    }
}

/*@media (max-width: 1754px) {*/
/*    .benefactors {*/
/*        max-width: 1360px;*/
/*    }*/
/*}*/

@media (max-width: 1439px) {
    header {
        padding-left: 45px;
        padding-right: 45px;
    }

    .logo {
        width: 45px;
        height: 45px;
    }

    .nav-links {
        max-width: 575px;
    }

    .nav-links a {
        font-size: 14px;
    }

    .social-links {
        width: 95px;
    }

    .social-links svg {
        width: 17px;
    }

    .select-container {
        width: 110px;
    }

    .select {
        padding-right: 15px;
    }

    .join-content h1 {
        top: 185px;
        left: 90px;
        font-size: 24px;
        line-height: 36px;
        max-width: 520px;
    }

    .total-container {
        margin-top: -9%;
        padding-left: 90px;
        padding-right: 90px;
        height: 260px;
    }

    .month, .year {
        height: auto;
    }

    .total-container svg {
        width: 58px;
        height: 62px;
    }

    .total-container h5 {
        font-size: 30px;
        line-height: 37px;
        margin-top: 20px;
    }

    .total-container p {
        font-size: 18px;
        line-height: 22px;
        margin-top: 0;
    }

    .intro-left-container {
        width: 90px;
    }

    .intro {
        min-width: 412px;
    }

    .intro-bg-right h2 {
        font-size: 24px;
        line-height: 35px;
    }


    .projects-container h1 {
        margin-top: 0;
        margin-bottom: 70px;
    }

    /*.projects-wrapper>.main-project-card:nth-last-of-type(-n+4) {*/
    /*    display: none;*/
    /*}*/

    .card-wrapper {
        max-width: 945px;
        padding-top: 60px;
    }

    .raiting-card {
        width: 305px;
        height: 315px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .author-info-container img {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    .author-info-text h5 {
        font-size: 18px;
        line-height: 22px;
    }

    .author-info-text p {
        font-size: 16px;
        line-height: 20px;
    }

    .raiting-card svg {
        width: 50px;
    }

    .info-container {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .raiting-count h6 {
        font-size: 14px;
        line-height: 17px;
    }

    .raiting-count p {
        font-size: 14px;
        line-height: 17px;
    }

    .news-wrapper {
        padding-bottom: 120px;
    }

    .news-card-wrapper {
        max-width: 945px;
    }

    .news {
        width: 305px;
        height: 457px;
        margin: 0;
    }

    .news img {
        height: 150px;
    }

    .news h4 {
        font-size: 14px;
        line-height: 22px;
    }

    .news p {
        font-size: 14px;
        line-height: 24px;
    }

    .about-news-container {
        padding: 25px;
    }

    footer>.nav-links {
        display: flex;
        max-width: 100%;
    }

    .benefactors {
        max-width: 890px;
    }

    /*-------------------------------*/

    .bg-news-img {
        height: 544px;
    }

    .bg-news-img img {
        height: 100%;
    }

    .bg-news-img h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .event-description-container {
        padding: 120px 50px;
    }

    .event-description {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .other-news-container {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    .event-image {
        margin-bottom: 50px;
    }

    .other-news {
        max-width: 945px;
    }

    .other-news .news-card {
        width: 307px;
        height: 457px;
    }

    .other-news .news-card img {
        height: 151px;
    }

    .card-news-about {
        padding: 25px;
    }

    .card-news-about h5 {
        font-size: 14px;
        line-height: 22px;
    }

    .card-news-about p {
        font-size: 14px;
        line-height: 24px;
    }

    /*---------------------------*/

    .archive-projects-wrapper {
        max-width: 891px;
    }
}

@media (max-width: 1320px) {
    .raiting-page-wrapper {
        max-width: 946px;
    }
}

@media (max-width: 1200px) {
    .user-cabinet-row {
        flex-wrap: wrap;
    }
}

@media (max-width: 990px) {
    header {
        height: 79px;
        padding-left: 20px;
        padding-right: 20px;
        background: transparent;
        position: absolute;
    }

    .profile-menu-container {
        display: none;
    }

    .nav-links, .social-links, .select-container, .login-icon {
        display: none;
    }

    .menu-icon {
        display: flex;
        width: 90px;
        justify-content: space-between;

    }

    .menu-icon h6 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    .menu-icon h6:hover {
        color: #333333;
        cursor: pointer;
    }

    .menu-icon svg:hover path {
        fill: #333333;
        cursor: pointer;
    }
    
    /*___________________________*/

    header {
        height: auto;
        padding: 0;
    }

    .header-wrapper {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 10;
    }

    .mobile-menu-burger-container {
        width: 100%;
        display: block;
        position: absolute;
        left: -990px;
        top: 0;
        padding-top: 65px;
        z-index: 9;
        transition: .3s;
        box-shadow: 4px 20px 20px rgba(0, 0, 0, 0.15);
        background-color: #FFFFFF;
    }

    /*---------------------------------------------- FOR MOBILE BURGER AFTER CLICK------*/
    .mobile-menu-burger-wrapper ul {
        padding: 0;
    }

    .mobile-m-b-item {
        height: 35px;
        padding-left: 20px;
        list-style: none;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #333333;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .mobile-m-b-item:hover {
        background-color: #D62121;
        color: #FFFFFF;
    }

    .options-social-links {
        display: flex;
    }
    
    .options-social-links .select {
        color: #333;
    }

    .options-social-links .social-links {
        display: flex;
    }

    .options-social-links .social-links svg path, .menu-icon svg path {
        fill: #333333;
    }


    /*____________________________*/

    .total-container {
        height: 200px;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .total-container h5 {
        margin-top: 8px;
    }

    .total-wrapper {
        max-width: 690px;
    }

    .total-container svg {
        width: 45px;
    }

    .join-img h1 {
        top: 135px;
    }

    .join-btn {
        top: 330px;
    }

    .intro {
        min-width: 340px;
        width: auto;
    }

    .intro img {
        width: 340px;
    }

    .intro-left-container {
        width: 40px;
    }

    .intro-bg-right {
        max-width: 100%;
        justify-content: flex-start;
    }

    .intro-bg-right h2 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        max-width: 280px;
    }

    .projects-container {
        padding-left: 45px;
        padding-right: 45px;
    }

    .projects-wrapper {
        max-width: 720px;
    }

    .main-project-card-wrapper {
        padding: 25px 20px;
    }

    .main-project-card {
        width: 335px;
        height: 385px;
    }

    .img-container {
        min-height: 150px;
    }

    .img-container img {
        width: 100%;
        height: 184px;
        object-fit: cover;
    }

    .main-project-card h4 {
        font-size: 16px;
    }

    .count {
        font-size: 14px;
    }

    .stats p {
        font-size: 14px;
        margin: 0;
    }

    .raiting-container, .author-raiting-container {
        padding-left: 40px;
        padding-right: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card-wrapper {
        padding: 0;
        max-width: 688px;
    }

    .raiting-card {
        width: 220px;
        height: 240px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container-info {
        width: auto;
        justify-content: center;
    }

    .author-info-container {
        height: 126px;
    }

    .author-info-container img {
        width: 70px;
        height: 70px;
    }

    .author-info-text h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .author-info-text p {
        font-size: 15px;
        line-height: 18px;
    }

    .raiting-icon {
        display: none;
    }

    .raiting-count h6 {
        color: #D62121;
        font-weight: 600;
        text-align: center;
    }

    .news-container {
        display: flex;
        justify-content: center;
    }

    .news-wrapper {
        max-width: 635px;
    }

    .news-card-wrapper>.news:nth-last-of-type(-n+2) {
        display: none;
    }

    .news {
        width: 307px;
        height: 457px;
    }

    .news img {
        height: 151px;
    }

    footer {
        height: 165px;
        padding: 0 20px;
    }

    footer .logo {
        display: none;
    }

    footer>.nav-links {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .footer-links-block {
        width: 100%;
        max-width: 165px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-links a {
        margin-bottom: 15px;
        margin-left: 0;
        font-size: 13px;
        line-height: 16px;
    }

    /*----------------------------------------*/

    .bg-project-img img{
        width: 100%;
        height: 410px;
        object-fit: cover;
    }

    .bg-project-img h1 {
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    .summary {
        max-width: 280px;
        flex-wrap: wrap;
    }

    .summary-item {
        height: 111px;
        width: 65px;
    }

    .summary-item svg {
        width: 56px;
        height: 40px;
    }

    .summary-item h5 {
        font-size: 24px;
        margin-top: 0;
    }

    .summary-item p {
        font-size: 18px;
    }

    .summary-container {
        position: relative;
        height: 270px;
        margin-bottom: 55px;
    }

    .summary {
        position: absolute;
        top: -100px;
        height: 360px;
        padding: 50px 40px;
        flex-direction: column;
        justify-content: space-between;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .project-desc-about {
        padding: 0 20px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .project-desc-wrapper {
        display: flex;
        justify-content: center;
    }

    .project-desc-wrapper {
        flex-wrap: wrap;
    }


    .project-desc-text {
        width: 100%;
        padding: 0;
    }

    .project-desc-about h3 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .project-desc-text p {
        font-size: 14px;
        line-height: 30px;
        margin: 0;
    }

    .project-desc-r-side {
        padding: 0;
        align-items: center;
    }

    .project-desc-img {
        margin-bottom: 20px;
    }

    .project-desc-img img {
        width: 100%;
    }

    .project-desc-wrapper {
        flex-wrap: wrap;
    }


    .project-desc-text {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .project-desc-about h3 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .project-desc-text p {
        font-size: 14px;
        line-height: 30px;
        margin: 0;
    }

    .project-desc-r-side {
        padding: 0;
        align-items: center;
    }

    .project-desc-img img {
        width: 100%;
    }

    .benefactors-container {
        padding: 50px 30px;
    }

    .benefactors-container h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .benefactors {
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        max-width: 680px;
    }

    .benefactor-card {
        width: 220px;
        height: 240px;
        padding: 30px 38px;
        margin-bottom: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .donate-money {
        width: auto;
    }

    .donate-date {
        margin-left: 40px;
    }

    .donate-text {
        margin: 0;
    }

    .benefactor-name h5 {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }

    .container-info {
        width: auto;
        justify-content: center;
    }

    .helper-info {
        height: 126px;
    }

    .benefactor-avatar {
        width: 70px;
        height: 70px;
        min-height: auto;
    }

    .donate-m-icon, .donate-d-icon {
        display: none;
    }

    .donate-text h6 {
        color: #D62121;
        font-weight: 600;
        text-align: center;
    }

    /*--------------__---------------___---------------*/

    .bg-news-img h1 {
        font-size: 30px;
        line-height: 37px;
    }

    .other-news>.news-card:nth-last-of-type(-n+2) {
        display: none;
    }

    .other-news {
        max-width: 634px;
    }

    /*----------------------------------------------------*/

    .news-page-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    /*-----------------------------------------------*/

    .partners-page-wrapper {
        padding: 50px 100px;
    }

    /*-----------------------------------------------*/

    .user-cabinet-page-container {
        padding: 100px 20px;
    }

    .user-cabinet-page-wrapper {
        padding-top: 0;
    }

    .user-cabinet-page-container h1 {
        font-weight: 600;
        font-size: 18px;
    }

    .user-cabinet-page-wrapper h5 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .user-cabinet-page-wrapper p {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .user-cabinet-page-content {
        padding: 25px 10px;
    }

}

@media (max-width: 978px) {

    .raiting-page-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .raiting-page-wrapper {
        max-width: 766px;
    }
}

/*@media (max-width: 734px) {*/
/*    .benefactors {*/
/*        max-width: 450px;*/
/*    }*/
/*}*/

@media (max-width: 765px) {

    .menu-icon h6 {
        display: none;
    }

    .menu-icon {
        max-width: 35px;
    }

    .join-wrapper {
        padding-top: 34%;
        padding-bottom: 28.5%;
    }

    .join-content {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-container {
        display: none;
    }

    .join-content h1 {
        padding-left: 0;
        max-width: 275px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .join-btn {
        margin-top: 16.6%;
        margin-left: 0;
        font-size: 15px;
        line-height: 18px;
    }

    .total-container {
        height: auto;
        background: transparent;
        margin-top: -12%;
    }

    .total-wrapper {
        flex-wrap: wrap;
        height: auto;
        max-width: 280px;
        background-color: #fff;
        padding-top: 50px;
        padding-bottom: 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .total-wrapper h5 {
        font-size: 24px;
        line-height: 29px;
    }

    .total-wrapper p {
        font-size: 15px;
        line-height: 18px;
    }

    .month, .year {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .month p {
        margin-bottom: 30px;
    }

    .projects-container {
        padding: 380px 0 0 0 ;
    }

    .projects-container h1 {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 51px;
    }

    .projects-wrapper {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main-project-card {
        max-width: 280px;
        max-height: 338px;
        margin-right: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main-project-card-wrapper {
        padding: 20px;
    }

    .main-project-card img {
        height: 150px;
    }

    .main-project-card-title h4 {
        max-width: 240px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .stats {
        height: 35px;
        margin-top: 10px;
    }

    .actions {
        margin-top: 20px;
    }

    .help-btn {
        width: 130px;
    }

    .details {
        width: 97px;
    }

    .details a {
        font-size: 14px;
        line-height: 20px;
    }

    .details svg {
        width: 12px;
    }

    .buttons-wrapper {
        height: 130px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .more .arrow-down {
        display: none;
    }

    .secondary-btn {
        display: block;
        width: 260px;
        height: 60px;
        padding: 18px 0 0 0;
        outline: none;
        background-color: #FFFFFF;
        border: 1px solid #D62121;
        color: #D62121;
        border-radius: 3px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .add-project {
        margin-top: 0;
    }

    .partners-container {
        margin: 50px 0;
    }

    .partners-container h1 {
        font-size: 24px;
        line-height: 51px;
    }

    .raiting-container {
        max-height: 100%;
        margin-top: 0;
    }

    .raiting-wrapper h1 {
        text-align: center;
    }

    .card-wrapper {
        margin: 0;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .raiting-card {
        margin-bottom: 20px;
    }

    .raiting-wrapper {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .raiting-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .news-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .news-container h1 {
        font-size: 24px;
        line-height: 51px;
    }

    .news-wrapper>.news:nth-last-of-type(-n+2) {
        display: none;
    }

    .news-wrapper {
        padding-top: 55px;
        padding-bottom: 55px;
        flex-wrap: wrap;
    }

    .news-card-wrapper {
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .news {
        width: 280px;
        height: 429px;
        margin-bottom: 20px;

    }

    .news img {
        height: 137px;
    }

    .about-news-container {
        padding: 20px;
    }

    .news h4 {
        font-size: 14px;
        line-height: 22px;
    }

    .news p {
        font-size: 14px;
        line-height: 24px;
        width: 234px;
    }

    .desc-btn {
        width: 160px;
        height: 40px;
    }

    .all-news-btn {
        margin-top: 0;
    }

    .footer-links-block {
        max-width: 115px;
    }

    /*---------------------------------*/

    .benefactors {
        justify-content: center;
        max-width: 350px;
    }

    .benefactors-buttons {
        justify-content: center;
        padding: 0;
    }

    .benefactors>.benefactor-card:nth-last-of-type(-n+5), .prev-btn, .next-btn {
        display: none;
    }

    .benefactors-buttons .primary-btn {
        display: block;
        margin-top: 20px;
    }

    .project-desc-wrapper {
        margin-bottom: 0;
    }

    /*-------------------___------____------___-----_-----_--------------*/

    .bg-news-img {
        max-height: 410px;
    }

    .bg-news-img h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .event-description-container {
        padding: 55px 20px;
    }

    .event-description-container h2 {
        font-size: 24px;
        line-height: 29px;
        text-align: left;
    }

    .event-text p {
        font-size: 14px;
        line-height: 30px;
    }

    .share-container {
        flex-wrap: wrap;
    }

    .share-container h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .event-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .event-image img {
        width: 100%;
    }

    .other-images {
        display: none;
    }

    .other-news {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .other-news-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .other-news-container h3 {
        font-size: 24px;
        line-height: 51px;
    }

    .other-news .news-card {
        width: 280px;
        height: 429px;
        margin-bottom: 30px;
    }

    .card-news-about {
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*-----------------*/

    .all-projects-container {
        padding-top: 80px;
    }

    .archive-projects-container {
        padding-top: 85px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    .archive-projects-wrapper {
        padding-top: 50px;
        justify-content: center;
    }

    .archive-projects-container h1 {
        font-size: 24px;
        margin: 0;
        text-align: left;
    }

    .archive-filter {
        display: none;
    }

    .mobile-filter {
        display: block;
        width: 35px;
        height: 20px;
        position: absolute;
        top: 95px;
        right: 20px;
        overflow: hidden;
        background: url('../images/filter.svg') no-repeat;
    }

    .mobile-filter select {
        width: 35px;
        height: 25px;
        padding-top: 20px;
        background: transparent;
        border: none;
        right: 0;
        position: absolute;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .archive-project-card-wrapper {
        padding: 20px;
    }

    .archive-project-card img {
        height: 151px;
        object-fit: cover;
    }

    .archive-project-card {
        max-width: 280px;
    }

    .financed, .not-funded {
        height: 33px;
        padding-top: 10px;
    }

    .financed p, .not-funded p {
        margin: 0;
    }

}

@media (max-width: 738px) {
    .raiting-page-wrapper {
        max-width: 446px;
    }

    /*-----------------------------*/

    .payment-system-page-container {
        padding: 100px 10px 50px;
    }

    .payment-system-page-wrapper {
        padding: 50px 23px;
    }

    .payment-system-page-wrapper h1{
        font-size: 18px;
        line-height: 24px;
    }

    .card-number-wrapper label,
    .card-cvv-wrapper label,
    .card-name-wrapper label,
    .card-date-wrapper label {
        font-size: 14px;
    }

    .number-cvv-container {
        flex-wrap: wrap;
    }

    .card-name-wrapper, .card-date-wrapper {
        margin-top: 0;
    }

    .payment-system-page-content .primary-btn {
        margin-top: 45px;
    }

    /*-----------------------------POP-UP SIGN IN---*/


    .reg-form-container {
        padding: 10px;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .reg-form-container h2, .new-project-form-wrapper h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .reg-form-wrapper {
        height: 100%;
        overflow-y: scroll;
        padding: 60px 23px;
    }

    .close-btn {
        top: 23px;
        right: 23px;
    }

    .reg-tabs {
        max-width: 190px;
    }

    .tab-list .tab-list-item {
        font-size: 16px;
    }

    .field {
        margin-bottom: 20px;
    }

    .field label {
        font-size: 14px;
    }


    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*-------------------------POP-UP NEW PROJECT----*/

    .new-project-form-wrapper {
        padding: 30px;
    }

    .money-deadline {
        flex-wrap: wrap;
    }

    .project-description input {
        height: 100%;
    }

    .money-deadline .field, .money-to-collect {
        max-width: 100%;
    }

}


@media (max-width: 639px) {
    .news-page-wrapper {
        justify-content: center;
    }
}

@media (max-width: 520px) {

    .raiting-page-container {
        padding-top: 100px;
    }

    .raiting-page-container h1 {
        font-size: 24px;
    }

    .raiting-page-content {
        justify-content: center;
    }

    .join-form .field {
        max-width: 100%;
    }

    /*------------------------------*/

    .partners-page-container {
        padding-top: 130px;
    }

    .partners-page-container h1 {
        font-size: 30px;
    }

    .partners-page-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .partners-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*------------------------*/


    .text-page-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
    }

    .text-page-container h1 {
        font-size: 30px;
    }

    .text-page-wrapper {
        padding: 50px 0;
    }

    #editor-container {
        padding: 10px;
    }
}